@model SelectList

<div>
    <h2 class="text-center">Annual Sales Report</h2>
</div>
<div class="row mb-3">
    <div class="col-4">
        <select class="form-control" name="year" asp-items="@Model">
            <option value ="">Select a Year...</option>
        </select>
    </div>
</div>




